*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
}

.top-container{
    width:200px;
   margin-left:auto;
   margin-right: auto;
   border-radius: 30px;
   border: 1px solid black;
   padding:10px;
   text-Align: center;
   background-color: #5e6c841e;
   margin-top: 20px;
   margin-bottom: 1rem;
   font-weight: 500;
}

.main-container{
min-height:300px;
/* border: 2px solid black; */
display: flex;
gap: 50px;
padding:20px;
justify-content: space-evenly;
overflow-y: hidden;
margin-left: auto;
margin-right: auto;
max-height: auto;
}

.box{
    display:flex;
    flex-direction: column;
    gap:5px;
    width:300px;
    min-height: 100px;
    background-color: #5e6c841e;
    border-radius: 10px;
    padding: 20px 10px;
    max-height: auto;
}

.title-container{
    display:flex;
    justify-content: space-between;
}

.box .title{
   font-size: 14px;
   color: #5E6C84;
   flex-grow: 1;
   transition: 0.2s ;
}

.title + .material-icons{
    visibility: hidden;
}

.title:hover {
    background-color: #47516172;
    border-radius: 5px;
    cursor: pointer;   
}

.title-container >.title:hover + .material-icons{
    visibility: visible;
}

#create-issue{
   /* display:block;
   width:100%; */
   display:flex;
   align-items: center;
   background-color: transparent;
   color:#5E6C84;
   border:none;
   /* font-size: 14px; */
   font-weight: 600;
   gap:5px;
   transition-duration: 0.3s;
   padding:5px 0;
}

#create-issue:hover{
    background-color: #47516172;
    border-radius: 5px; 
}

.item{
border: 2px solid #0052CC ; 
border-radius: 5px;
display: flex;
/* flex-flow:column wrap; */
gap: 10px;
flex-direction: column ;
}

.item > textarea, .item > textarea:focus{
    border: none;
    outline:none;
    border-radius: 5px;
    background-color: transparent;
}

.item > select{
    background-color: transparent;
    padding:10px; 
    border :none;
    align-self: flex-start;
    cursor:pointer;
}

.item > select:focus{
outline:none;
background-color: transparent;
}

.modal{
    position:fixed;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background-color: rgba(0, 82, 204, 0.137);
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.modal form{
    position: relative ;
    display: flex;
    flex-flow: column wrap;
    /* margin-top: 100px; */
    gap: 20px;
    background-color: white;
    padding: 30px 50px;
    border-radius: 10px;
    width:20vw;
}

.modal input, .modal textarea, .modal select{
    padding : 5px 15px;
    border-radius:5px;
    background-color: #F4F5F7;
    border: 1px solid ;
}

.modal textarea{
    text-align: left;
}

.modal button{
    background-color: #0052CC;
    color: white ;
    cursor: pointer;
    border :none;
    border-radius: 5px;
    padding : 5px ;
}

.close{
     position:absolute;        /* so as to align it with respect to its parent(form)(for this,parent position should ber elative) */ 
     top: 10px;
     right: 10px;
     cursor: pointer;
}

.card {
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 0px 1px #5e6c8424 ;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: fit-content;
}

.card .task-name {
    font-weight: 500 ;
    font-size: 18px;
}
.card .description {
    font-size: 14px;
    text-align: left;


}
.card .status {
    font-size: 12px;
}
.card .status-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card .assignee::before {
    display: inline-block;
    content: attr(data-short-name);    
    padding: 5px;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    background-color: orange;
}